:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Inter', sans-serif;
	--font-SB: 'Inter-SB', sans-serif;
	--font-B: 'Inter-B', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #022B3A;
	--page-secondary-bg: #193E4C;
	--text-color: #FFFFFF;
	--active: #64D4FA;
	--accent: #E8EC42;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}