.top {
  position: relative;
  height: calc(100vh - 130px);
  background: url(../img/top/bg.png) center center no-repeat;
  background-size: cover;

  &__inner {
    position: relative;
    z-index: 10;
    padding: 83px 0 145px;

    @include mobile {
      padding: 30px 0 30px;
      align-items: center;
    }
  }

  &__text {
    grid-column: 2 / span 6;
    @include tablet {
      grid-column: 2 / span 7;

    }
    @include mobile {
      grid-column: span 12;
    }
  }

  &__title {
    font-family: var(--font-B);
    margin-bottom: 19px;
    color: var(--text-color);
    font-size: 64px;
    font-weight: 700;

    @include tablet {
      font-size: 45px;
    }

    @include small-tablet {
      font-size: 42px;
    }

    @include mobile {
      font-size: 36px;
    }

    @include mini-mobile {
      font-size: 30px;
    }
  }

  &__descr {
    font-family: var(--font-SB);
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; /* 150% */

    @include tablet {
      font-size: 22px;
    }
    @include small-tablet {
      font-size: 18px;
      line-height: 1.5;
    }

    @include mini-mobile {
      font-size: 14px;
      line-height: 1.6;
    }
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .6);
  }

  @include mobile {
    height: calc(100vh - 75px);
  }

  @include mini-mobile {
    height: calc(100vh - 60px);
  }
}