@import "./base/reset";
@import "./base/vars";
@import "./base/breakpoints";
@import "./base/font-face";
@import "./base/fonts";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";
@import "./base/animations";
@import "./base/popups";

@import "./blocks/*.scss";

.subtitle {
  font-size: 28px;
  text-align: center;
  font-weight: bolder;
}